.stop-container {
    width: 25%;
    background-color: whitesmoke;
    /* height: calc(100vh-100px); */
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

.stop-subcontainer {
    margin-top: 30px;
    margin-left: 50px;
    width: 100%;
    text-overflow: clip;
}

.stop-container li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 200px;
    align-self: flex-end;
}

.stop-container li p {
    font-size: 15px;
}

.stop-container .stopNames-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stopNames-container .connectedPoint {
    display: inline-block;
    height: 30px;
    width: 13px;
    align-self: flex-end;
    margin-left: -15px;
}

.stop-subcontainer .stopNames {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: white;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.stop-subcontainer .stopNames:hover {
    border: 1px solid black;
}

.my {
    cursor: move;
    border: 2px solid blue !important;
}

.stop-subcontainer .cross {
    cursor: pointer;
    display: inline-block;
    display: none;
    align-self: center;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 8px;
    padding-left: 4px ;
}

.myClassName{
    display: inline-block !important;
}

.stop-container .threedots {
    display: inline-block;
    width: 30px;
    height: 30px;
    align-self: center;
}

.stop-container .student-info {
    display: flex;
    margin-left: -23px;
    gap: 5px;
}

.studenNames-contaner {
    /* background-color: gray; */
    width: 200px;
}

.studenNames-contaner p {
    display: inline-block;
    width: auto;
    font-size: 13px;
    margin-left: 10px;
    background-color: rgb(226, 221, 221);
}

.studenNames-contaner span {
    margin-left: 10px;
    font-size: 13px;
    cursor: pointer;
    padding-right: 5px;
}

#stopsInfo-map {
    margin-top: 10px;
    position: relative;
    height: auto;
    min-height: 350px;
    width: 73%;
    border-radius: 10px;
}